<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PerpustakanQu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Navbar -->
    <nav class="bg-blue-500 shadow p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/store" class="text-white font-bold text-lg">PerpustakaanQu</a>
            <div class="flex-grow flex justify-center">
                <input type="text" class="border rounded-full px-4 py-2 w-9/12	" placeholder="Cari Buku">
            </div>
            <div class="flex items-center space-x-4">
                <a id="peminjamanLink" href="#" class="text-white hover:text-white">History</a>
                <a id="profile" href="#" class="text-white hover:text-white">Profile</a>
                <a id="logout" href="/" class="text-white hover:text-white">Logout</a>
                <div id="cartIcon" class="relative">
                    <i class="fas fa-shopping-cart text-2xl text-white cursor-pointer"></i>
                    <span id="cartItemCount"
                        class="bg-red-500 text-white text-xs rounded-full absolute -top-1 -right-1 px-2 py-1 hidden">0</span>
                </div>
            </div>
        </div>
    </nav>



    <!-- Modal Keranjang -->
    <div id="cartModal" class="fixed inset-0 z-10 overflow-hidden hidden bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true">
        <div class="absolute inset-0 overflow-hidden">
            <div class="fixed inset-y-0 right-0 flex max-w-full pl-10">
                <div
                    class="w-screen max-w-md transform transition ease-in-out duration-500 sm:duration-700 bg-white shadow-xl">
                    <div class="flex flex-col h-full overflow-y-auto">
                        <div class="flex items-start justify-between px-6 py-4 border-b">
                            <h2 class="text-lg font-medium text-gray-900">Keranjang Buku</h2>
                            <button id="closeCartModal" type="button"
                                class="p-2 -mr-2 text-gray-400 hover:text-gray-500">
                                <span class="sr-only">Close panel</span>
                                <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <div class="flex-1 px-6 py-4 overflow-y-auto">
                            <div id="cartItems"></div>
                        </div>
                        <div class="px-6 py-4 border-t">
                            <div class="flex justify-between text-base font-medium text-gray-900">
                                <p>Total Buku </p>
                                <p id="cartSubtotal">0 Buku</p>
                            </div>
                            <p class="mt-0.5 text-sm text-gray-500">Pastikan Buku sudah sesuai dengan keinginan Anda</p>
                            <div class="mt-6">
                                <a href="#" id="total-bo"
                                    class="block w-full px-6 py-3 text-center text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-700">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Main Content -->
    <div class="container mx-auto mt-8">
        <!-- Recommended Section -->
        <div class="mb-6 mx-5">
            <div class="flex justify-between">

                <h2 class="text-xl font-semibold mb-4">Rekomendasi Buku Hari ini🔥</h2>
                <h2 class="text-md font-semibold mb-4">Haloo <span id="usernamePlaceholder"></span> 😁 </h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
                {{range .Books}}
                <div class="bg-white shadow rounded-lg overflow-hidden">
                    <img src="https://via.placeholder.com/150" alt="Book cover" class="w-full h-60 object-cover">
                    <div class="p-4">
                        <h3 class="text-lg font-bold">{{.Judul}}</h3>
                        <p class="text-gray-600">{{.Pengarang}}</p>
                        <p class="text-sm text-green-500">{{.Penerbit}}</p>
                        <p class="text-sm text-green-500">Stok: {{.Stok}}</p>
                        <button class="bg-blue-500 text-white px-4 py-2 rounded-full mt-2 btn-pinjam"
                            data-id="{{.Id}}">Pinjam Buku</button>

                    </div>
                </div>
                {{end}}
            </div>
        </div>

        <!-- Recently Read Section -->


        <!-- Opportunities Section -->
        <!-- <div class="mb-6">
            <h2 class="text-xl font-semibold mb-4">Opportunities</h2>

        </div> -->

    </div>


    <footer class="bg-white rounded-lg shadow ">
        <div class="w-full max-w-screen-xl mx-auto p-4">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap">PerpustakaanQu</span>
                </a>
                <ul class="flex items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
                    <li>
                        <a id="history-footer" href="#" class="hover:underline mx-4 ">History</a>
                    </li>
                    <li>
                        <a href="/profile" class="hover:underline mx-4 ">Profile</a>
                    </li>
                    <li>
                        <a href="/" class="hover:underline mx-4 ">Log Out</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a
                    href="https://flowbite.com/" class="hover:underline">PerpustakaanQu</a>. All Rights Reserved.</span>
        </div>
    </footer>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkoutButton = document.getElementById('total-bo');
            const books = JSON.parse('{{.BooksJSON}}');
            const cartModal = document.getElementById('cartModal');
            const cartIcon = document.getElementById('cartIcon');
            const closeCartModal = document.getElementById('closeCartModal');
            const btnsPinjam = document.querySelectorAll('.btn-pinjam');
            const usernamePlaceholder = document.getElementById('usernamePlaceholder');
            const peminjamanLink = document.getElementById('peminjamanLink');
            const history = document.getElementById('history-footer');
            const cartItemCount = document.getElementById('cartItemCount');
            const cartSubtotal = document.getElementById("cartSubtotal");
            const userId = localStorage.getItem('userId');
            const userName = localStorage.getItem('userName');

            checkoutButton.addEventListener('click', function (event) {
                event.preventDefault();
                checkout();
            });

            cartIcon.addEventListener('click', function () {
                cartModal.classList.remove('hidden');
                populateCart();
            });

            closeCartModal.addEventListener('click', function () {
                cartModal.classList.add('hidden');
            });

            btnsPinjam.forEach(btn => {
                btn.addEventListener('click', function () {
                    const bookId = btn.getAttribute('data-id');
                    let cart = localStorage.getItem('cart');
                    cart = cart ? JSON.parse(cart) : [];

                    if (!cart.includes(bookId)) {
                        cart.push(bookId);
                        localStorage.setItem('cart', JSON.stringify(cart));
                        updateCartItemCount(cart.length);
                        updateCartSubtotal(cart.length);
                        alert('Buku telah ditambahkan ke keranjang.');
                    }
                });
            });

            if (userName) {
                usernamePlaceholder.textContent = userName;
            }

            if (userId) {
                peminjamanLink.href = `/history?user_id=${userId}`;
                history.href = `/history?user_id=${userId}`;

            }

            const itemCount = JSON.parse(localStorage.getItem('cart') || '[]').length;
            updateCartItemCount(itemCount);
            updateCartSubtotal(itemCount);

            function populateCart() {
                const cartItems = JSON.parse(localStorage.getItem('cart')) || [];
                const cartItemsDiv = document.getElementById('cartItems');
                cartItemsDiv.innerHTML = '';

                cartItems.forEach(itemId => {
                    const book = books.find(b => b.Id === parseInt(itemId));
                    if (book) {
                        const itemDiv = document.createElement('div');
                        itemDiv.classList.add('flex', 'py-4', 'border-b');
                        itemDiv.innerHTML = `
                            <div class="flex-shrink-0 w-24 h-24 overflow-hidden rounded-md border border-gray-200">
                                <img src="https://via.placeholder.com/150" alt="Book cover" class="w-full h-full object-cover object-center">
                            </div>
                            <div class="ml-4 flex flex-1 flex-col">
                                <div class="flex justify-between text-base font-medium text-gray-900">
                                    <h3 class="text-sm"><a href="#">${book.Judul}</a></h3>
                                    <p class="ml-4">${book.Pengarang}</p>
                                </div>
                                <div class="flex flex-1 items-end justify-between text-sm">
                                    <p class="text-gray-500">Qty 1</p>
                                    <div class="flex">
                                        <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                                    </div>
                                </div>
                            </div>
                        `;
                        cartItemsDiv.appendChild(itemDiv);
                    } else {
                        console.error(`Book with ID ${itemId} not found in the books list.`);
                    }
                });
            }

            function updateCartItemCount(count) {
                cartItemCount.textContent = count;
                cartItemCount.classList.remove('hidden');
            }

            function updateCartSubtotal(count) {
                cartSubtotal.innerHTML = `${count} Buku`;
            }

            function checkout() {
                const memberId = localStorage.getItem('userId');
                const memberName = localStorage.getItem('userName');
                const cartItems = JSON.parse(localStorage.getItem('cart'));

                const data = {
                    userId: memberId,
                    userName: memberName,
                    cart: cartItems
                };

                fetch('/checkout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                        localStorage.removeItem('cart');
                        alert('Checkout berhasil.');
                        window.location.href = "/store";
                    })
                    .catch(error => {
                        console.error('Error during checkout:', error);
                    });
            }
        });
    </script>



</body>

</html>